body {font-family: Helvetica
}

#header {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h1 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

#brushes h1 {
  Background-color:mediumspringgreen;
}

#frames h1 {
  background-color:lightcoral;
}

#paint h1{
  background-color: skyblue;
}

span {
  font-family: Helvetica;
  font-weight:bold;
  color:blue;
}
